<a href="https://colab.research.google.com/github/kalleo1996/pysparkMLExample/blob/main/Copy_of_Copy_of_Copy_of_Kalpani_predict_randomforestclassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 63kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 12.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=38e99673856d2dbd6973f5071e54217cf31d37fa3b28e88f95f6d14fd3aa1de9
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession \
    .builder \
    .config("spark.driver.memory", "15g") \
    .appName("Exploratory Analysis") \
    .getOrCreate()

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
parking2017 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load('/content/gdrive/My Drive/Big Data/Parking_Violations_Issued_-_Fiscal_Year_2017.csv')
parking2016 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load('/content/gdrive/My Drive/Big Data/Parking_Violations_Issued_-_Fiscal_Year_2016.csv')
parking2015 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load('/content/gdrive/My Drive/Big Data/Parking_Violations_Issued_-_Fiscal_Year_2015.csv')
parking2014 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load('/content/gdrive/My Drive/Big Data/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')

In [ ]:
parking2017 = parking2017.dropDuplicates()
parking2016 = parking2016.dropDuplicates()
parking2015 = parking2015.dropDuplicates()
parking2014 = parking2014.dropDuplicates()

In [ ]:
parking2017 = parking2017.dropna()
parking2016 = parking2016.dropna()
parking2015 = parking2015.dropna()
parking2014 = parking2014.dropna()

In [ ]:
parking2017 = parking2017.toDF(*(c.replace(' ', '_') for c in parking2017.columns))
parking2016 = parking2016.toDF(*(c.replace(' ', '_') for c in parking2016.columns))
parking2015 = parking2015.toDF(*(c.replace(' ', '_') for c in parking2015.columns))
parking2014 = parking2014.toDF(*(c.replace(' ', '_') for c in parking2014.columns))

# Predictions

In [ ]:
from pyspark.sql.functions import unix_timestamp, from_unixtime

parking2017.createOrReplaceTempView("parkingtable2017")
parking2016.createOrReplaceTempView("parkingtable2016")
parking2015.createOrReplaceTempView("parkingtable2015")
parking2014.createOrReplaceTempView("parkingtable2014")

In [ ]:
#parking2017.show(100)

In [ ]:
def get_weekday(date):
    import datetime
    import calendar
    month, day, year = (int(x) for x in date.split('/'))    
    weekday = datetime.date(year, month, day)
    #return calendar.day_name[weekday.weekday()]
    
    if calendar.day_name[weekday.weekday()] == 'Sunday':
      return 0
    if calendar.day_name[weekday.weekday()] == 'Monday':
      return 1
    if calendar.day_name[weekday.weekday()] == 'Tuesday':
      return 2
    if calendar.day_name[weekday.weekday()] == 'Wednesday':
      return 3
    if calendar.day_name[weekday.weekday()] == 'Thursday':
      return 4
    if calendar.day_name[weekday.weekday()] == 'Friday':
      return 5
    if calendar.day_name[weekday.weekday()] == 'Saturday':
      return 6
    if calendar.day_name[weekday.weekday()] == 'Sunday':
      return 7

spark.udf.register('get_weekday', get_weekday)

In [ ]:
from pyspark.sql.functions import udf

def week_number(date_str):
    start_day_of_week=7
   
    def _week_number(date_str):
        from datetime import datetime, date
        d = datetime.strptime(date_str, '%m/%d/%Y')     # compatible with Python2
        wd_d1 = date(d.year, d.month, 1).isoweekday()
        offset = (wd_d1 - start_day_of_week + 7 ) % 7
        return (d.day - 1 + offset) // 7 + 1
    return _week_number(date_str)
spark.udf.register('week_number',week_number)

In [ ]:
from pyspark.sql.functions import udf,desc
from datetime import datetime

In [ ]:


from pyspark.sql.functions import date_format
from pyspark.sql.functions import to_date, date_format

from pyspark.sql.functions import *

In [ ]:
data_2017 = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location, Violation_Code , count(*) as frequency from parkingtable2017  Group by year,month,week,day,Violation_Location, Violation_Code order by year,month,week,day,Violation_Location,Violation_Code ")

In [ ]:
data_2017.dtypes

[('year', 'int'),
 ('month', 'int'),
 ('week', 'string'),
 ('day', 'string'),
 ('Violation_Location', 'int'),
 ('Violation_Code', 'int'),
 ('frequency', 'bigint')]

In [ ]:
data_2017.createOrReplaceTempView("data_2017")

In [ ]:
data_2017 = spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),CAST(Violation_Code AS INTEGER),frequency FROM data_2017")

In [ ]:
data_2017.dtypes

[('year', 'int'),
 ('month', 'int'),
 ('week', 'int'),
 ('day', 'int'),
 ('Violation_Location', 'int'),
 ('Violation_Code', 'int'),
 ('frequency', 'bigint')]

In [ ]:
data_2017_day = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location,count(*) as totalViolation from parkingtable2017  Group by year,month,week,day,Violation_Location order by year,month,week,day,Violation_Location ")

In [ ]:
data_2017_day.createOrReplaceTempView("data_2017_d")

In [ ]:
data_2017_day=spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),totalViolation FROM data_2017_d")

In [ ]:
data_2017_day.dtypes

[('year', 'int'),
 ('month', 'int'),
 ('week', 'int'),
 ('day', 'int'),
 ('Violation_Location', 'int'),
 ('totalViolation', 'bigint')]

In [ ]:
#data_2017_day.show(100)

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql.functions import round, col
df = data_2017.join(data_2017_day, (data_2017.Violation_Location == data_2017_day.Violation_Location) & (data_2017.year == data_2017_day.year)& (data_2017.month == data_2017_day.month)& (data_2017.week == data_2017_day.week) & (data_2017.day == data_2017_day.day))\
    .withColumn("violation_probability", round(F.col("frequency") / F.col("totalViolation"), 5))\
    .drop(data_2017_day.totalViolation).drop(data_2017.frequency).drop(data_2017_day.Violation_Location).drop(data_2017_day.month).drop(data_2017_day.week).drop(data_2017_day.day).drop(data_2017_day.year)
#df.show(100)

for 2014 to 2016 first

In [ ]:
data_2014 = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location, Violation_Code , count(*) as frequency from parkingtable2014 where   Group by year,month,week,day,Violation_Location, Violation_Code order by year,month,week,day,Violation_Location,Violation_Code ")
data_2014.createOrReplaceTempView("data_2014")
data_2014 = spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),CAST(Violation_Code AS INTEGER),frequency FROM data_2014 where year>= 2014 ")

data_2015 = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location, Violation_Code , count(*) as frequency from parkingtable2015  Group by year,month,week,day,Violation_Location, Violation_Code order by year,month,week,day,Violation_Location,Violation_Code ")
data_2015.createOrReplaceTempView("data_2015")
data_2015 = spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),CAST(Violation_Code AS INTEGER),frequency FROM data_2015")


data_2016 = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location, Violation_Code , count(*) as frequency from parkingtable2016  Group by year,month,week,day,Violation_Location, Violation_Code order by year,month,week,day,Violation_Location,Violation_Code ")
data_2016.createOrReplaceTempView("data_2016")
data_2016 = spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),CAST(Violation_Code AS INTEGER),frequency FROM data_2016")

In [ ]:
data_2014.dtypes

In [ ]:
data_2014_day = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location,count(*) as totalViolation from parkingtable2014  Group by year,month,week,day,Violation_Location order by year,month,week,day,Violation_Location ")
data_2014_day.createOrReplaceTempView("data_2014_d")
data_2014_day=spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),totalViolation FROM data_2014_d where year >= 2014")

data_2015_day = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location,count(*) as totalViolation from parkingtable2015  Group by year,month,week,day,Violation_Location order by year,month,week,day,Violation_Location ")
data_2015_day.createOrReplaceTempView("data_2015_d")
data_2015_day=spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),totalViolation FROM data_2015_d")

data_2016_day = spark.sql("select year(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as year,month(from_unixtime(unix_timestamp(Issue_Date, 'MM/dd/yyy'))) as month,week_number(Issue_Date) as week,get_weekday(Issue_Date) as day,Violation_Location,count(*) as totalViolation from parkingtable2016  Group by year,month,week,day,Violation_Location order by year,month,week,day,Violation_Location ")
data_2016_day.createOrReplaceTempView("data_2016_d")
data_2016_day=spark.sql(" SELECT CAST(year AS INTEGER),CAST(month AS INTEGER),CAST(week AS INTEGER) , CAST(day AS INTEGER), CAST(Violation_Location AS INTEGER),totalViolation FROM data_2016_d")

In [ ]:
data_2014_day.dtypes

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql.functions import round, col
df_2014 = data_2014.join(data_2014_day, (data_2014.Violation_Location == data_2014_day.Violation_Location) & (data_2014.year == data_2014_day.year)& (data_2014.month == data_2014_day.month)& (data_2014.week == data_2014_day.week) & (data_2014_day.day == data_2014_day.day))\
    .withColumn("violation_probability", round(F.col("frequency") / F.col("totalViolation"), 5))\
    .drop(data_2014_day.totalViolation).drop(data_2014.frequency).drop(data_2014_day.Violation_Location).drop(data_2014_day.month).drop(data_2014_day.week).drop(data_2014_day.day).drop(data_2014_day.year)

df_2015 = data_2015.join(data_2015_day, (data_2015.Violation_Location == data_2015_day.Violation_Location) & (data_2015.year == data_2015_day.year)& (data_2015.month == data_2015_day.month)& (data_2015.week == data_2015_day.week) & (data_2015_day.day == data_2015_day.day))\
    .withColumn("violation_probability", round(F.col("frequency") / F.col("totalViolation"), 5))\
    .drop(data_2015_day.totalViolation).drop(data_2015.frequency).drop(data_2015_day.Violation_Location).drop(data_2015_day.month).drop(data_2015_day.week).drop(data_2015_day.day).drop(data_2015_day.year)

df_2016 = data_2016.join(data_2016_day, (data_2016.Violation_Location == data_2016_day.Violation_Location) & (data_2016.year == data_2016_day.year)& (data_2016.month == data_2016_day.month)& (data_2016.week == data_2016_day.week) & (data_2016_day.day == data_2016_day.day))\
    .withColumn("violation_probability", round(F.col("frequency") / F.col("totalViolation"), 5))\
    .drop(data_2016_day.totalViolation).drop(data_2016.frequency).drop(data_2016_day.Violation_Location).drop(data_2016_day.month).drop(data_2016_day.week).drop(data_2016_day.day).drop(data_2016_day.year)

#df_2015.show()

In [ ]:
#dataframe concatenation
from functools import reduce  # For Python 3.x
from pyspark.sql import DataFrame

#def unionAll(*dfs):
    #return reduce(DataFrame.unionAll, dfs)

#full_df = unionAll( df_2015, df_2016,df)
#train_df.show(10)

In [ ]:
full_df = df.union(df_2015).union(df_2016).union(df_2014)

NameError: ignored

In [ ]:
#from pyspark.ml.feature import StringIndexer
#qualification_indexer = StringIndexer(inputCol="day", outputCol="day_chng")
#Fits a model to the input dataset with optional parameters.
#df_buck = qualification_indexer.fit(full_df).transform(full_df)
#df_buck.show()

In [ ]:
from pyspark.ml.feature import OneHotEncoder

#for training data
#

#day_encoded = OneHotEncoder(inputCol="day", outputCol="day_one")
#df_buck = day_encoded.fit(full_df).transform(full_df)

#week_encoded = OneHotEncoder(inputCol="week", outputCol="week_one")
#df_buck = week_encoded.fit(df_buck).transform(df_buck)

month_encoded = OneHotEncoder(inputCol="month", outputCol="month_one")
df_buck = month_encoded.fit(full_df).transform(full_df)

location_encoded = OneHotEncoder(inputCol="Violation_Location", outputCol="Violation_Location_one")
df_buck1 = location_encoded.fit(df_buck).transform(df_buck)

code_encoded = OneHotEncoder(inputCol="Violation_Code", outputCol="Violation_Code_one")
df_buck2 = code_encoded.fit(df_buck1).transform(df_buck1)


#df_buck_train.show(10)

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

#for training data
#assembler = VectorAssembler(inputCols=["day_one","month_one","Violation_Location_one","week_one","Violation_Code_one"], outputCol="features")
# Assemble all the features with VectorAssembler
required_features = ["year","month_one","week","day","Violation_Location_one","Violation_Code_one"]

from pyspark.ml.feature import VectorAssembler

numericCols = [] #['prob']
assemblerInputs = [c  for c in required_features] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol='features')

transformed_data = assembler.transform(df_buck2)
#transformed_data.show(5)

In [ ]:
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2], seed =2020)

In [ ]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='violation_probability')
lr_model = lr.fit(training_data)
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

Coefficients: [-0.014050739142411983,0.0,0.07387566576051557,0.03433812606846102,-0.03433086883054008,-0.024713940170639062,-0.01478885755643234,-0.025192982995659464,-0.01026425733246481,-0.04388804569914226,-0.006546651999853586,-0.03936833516020695,-0.005039024228701165,0.010508538613997398,-0.0010711163446267182,0.0,-0.35770741024798003,0.0,0.0,0.0,-0.3661423481260385,-0.24868049814794918,-0.3514731076316914,0.0,-0.3153353960841353,-0.359276646583317,0.0,0.0,-0.33929306089385336,-0.32294420759323234,0.0,0.0,-0.33834310523548705,-0.3583959707397877,-0.3613781769883482,-0.3676263923845598,0.0,0.14549334281331336,-0.32433116777418347,-0.33538767969961947,-0.30133403724711805,-0.2659289219469336,0.0,-0.3468224270936365,0.0,-0.3055198819305495,0.0,-0.329082325007672,-0.29085932974654927,-0.3287834206564618,0.0,0.0,0.0,0.0,0.0,-0.18292776870815572,-0.25870226893789283,-0.2381169164819354,-0.3299920713611229,-0.3560849062298469,-0.3191641745135557,-0.35586301790178543,-0.3211884226120251,-0.3311285814833951,-0.3262560485969035,-0.33332948523111144,0.0,-0.34699205545150985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.32168352911607606,-0.33063852945609973,-0.34828127628608446,-0.3150140128708197,0.0,0.0,-0.2194457256695795,-0.3102928670731317,-0.2322653692757932,-0.2814281097294941,-0.3303521655136243,-0.26852500711257066,-0.3128874690891029,-0.27364868495816425,0.0,-0.33739799710348467,-0.2529994282305067,-0.31175966347834494,-0.18406417140026432,-0.26724300114257554,0.0,-0.016041637902410925,0.0,-0.27519738970690766,-0.3505123780265091,0.0,0.0,0.0,-0.33689756446488245,0.0,-0.22672875625835104,0.0,0.0,0.0,-0.3119143606655275,0.0,0.0,0.0,0.0,0.0,-0.33498520636362444,-0.32368701801618066,-0.3530455333527521,-0.3602203299192706,-0.19442349889845828,-0.321357191121129,-0.3459895417234622,-0.18399425862755273,-0.3038692751977168,-0.341623054090161,-0.3519401259909382,-0.2999057576799464,-0.3243397448960188,-0.31431254482922855,-0.21439785521493565,-0.3579786403669969,0.0,0.0,0.0,0.0,-0.33026579530564515,-0.24465909330077473,-0.19960245592149006,0.0,0.03545675550407386,0.014771776727726267,0.028707909913962406,0.04261276433788185,0.0,0.01693144727081245,0.0,0.027226171354522898,0.05201582241841838,0.029500041482058738,0.01916487978332925,0.02942769036443158,0.0256693193118219,0.17971787831746405,0.0,0.05528829794797005,0.028308779627475935,0.03322322229242654,0.06353444671909107,0.1738111974604721,0.7045156040926058,0.021588841257592327,0.020042380629595794,0.027725416568096923,0.032026024487671646,0.04092862068209033,-0.004381681414737728,0.022183083954278225,0.012669115362201598,0.015922900806941014,0.15232586346775956,0.020574258437895402,0.03705593675939379,-0.0911390501387843,0.03193160587039758,0.0,0.23867148447120437,0.46269110260969804,0.03723993338969904,0.1258263124406826,0.0,0.10547799361191941,0.026966314037505223,0.021752754924155633,0.00731908884706115,0.09932668814847041,0.20338002371908617,0.038911533025883495,0.014408861659929443,0.02190950394187059,0.02117941999922414,0.009140770544825736,0.019815111531084117,0.0,0.011464937529776243,0.0019543857035126434,0.005343611180031602,0.030272215699309074,0.014051343344295997,0.025945371898615278,0.004744951382208339,0.013825479669589504,0.0019024543908900378,0.05332381791725177,0.0032159971768526844,0.021656524563910633,0.008836050528815385,0.019118900829484992,0.2282124779616047,0.07131380705325875,0.17807739357716898,0.016891458302271102,0.005868644908441223,0.02684730035342638,0.003035765650831703,0.0,0.016701703019977265,0.022181982031418884,0.0393433488394624,0.0011072468554412269,0.029423411541243717,0.014347288141635004,0.011441127329278015,0.03371638165404053,0.07851406084231002,0.018353503689420507,0.0,0.0,0.032014645917917965,0.0,0.004691331692982298,-0.013246317282315312,-0.08496984774388655,0.0,0.0,0.004546510042622661,0.031207456562976296]
Intercept: 28.611791226113688

In [ ]:
model_path = "/content/gdrive/My Drive/Big Data/" + "modelday2path"
lr_model.save(model_path)

NameError: ignored

In [ ]:
from pyspark.ml.regression import LinearRegressionModel
model2 = LinearRegressionModel.load(model_path)

In [ ]:
model2_predict = model2.transform(test_data.limit(10))

In [ ]:
model2_predict.select("prediction","violation_probability","features").show(10)

In [ ]:

print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

In [ ]:
lr_predictions = lr_model.transform(test_data)
lr_predictions.select("prediction","violation_probability","features").show(100)

In [ ]:
dataForGrapgh = lr_predictions.select("prediction","violation_probability","features")

In [ ]:
dataG =dataForGrapgh.toPandas()

In [ ]:
# Necessary imports: 
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
accuracy = metrics.r2_score(dataG['violation_probability'], dataG['prediction'])
print("Cross-Predicted Accuracy:", accuracy)

In [ ]:
from matplotlib import pyplot as plt
plt.rcParams["figure.figsize"] = (24, 8)
plt.plot(dataG['prediction'][:100], label = "Pred")  # Load the 500 data points from prediction with label name 'Pred'
plt.plot(dataG['violation_probability'][:100], label = "Actual")